<%= form_with(model: @picture, local: true ,url: choose_new_or_edit ) do |form| %>
    <% if @picture.errors.any? %>
        <div id="error_explanation">
            <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
            <ul>
            <% @picture.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>    
            </ul>
        </div>
    <% end %>
            
    <div class="picture_title">
        <p><%= form.label :content %></p>
        <p><%= form.text_field :content %></p>
    </div>
    <div class="picture_title">
        <div class="image_box"><%= form.label :image %></div>
        <%= image_tag(@picture.image.url) if @picture.image.url %>
        <div class="image_box"><%= form.file_field :image, id: :picture_image %></div>
    </div>
    <p><%= form.submit %></p>
<% end %>
